---
layout: default
title: Home
---

<div class="mainheading">
    <h1 class="sitetitle">LOVEGORITHM</h1>
    <p class="lead">
        국내 최대 LOVEGORITHM 사용자 커뮤니티
    </p>
</div>
<div class="row justify-content-between" style="margin-bottom: 3rem">
    <div class="col-md-7 pr-6">
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_BtmDkt4_2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
    </div>
    
    <div class="col-md-4">
    
    <div class="sticky-top-80 mobile-text" style="margin-left: 0 !important; margin-top: 3rem;">
    <h5>우리의 연애를 위한 과학! LOVEGORITHM</h5>
    
    <p>국내 최대 LOVEGORITHM 사용자 커뮤니티입니다.</p>

    <a href="https://apps.apple.com/us/app/talkingbooghi/id1435744898?itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/ko-kr?size=250x83&amp;releaseDate=1538006400&h=bd4adedb97752a494f49bef3afeae9e1" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
    <a href='https://donghoon.io' style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img alt='다운로드하기 Google Play' src='{{ site.baseurl }}/assets/images/android_badge.png' style="border-radius: 13px; width: 250px; height: 83px;"></a>
    
    
    </div>
    </div>
    </div>
    

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>HOT 게시글</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

