<table class="table table-hover" style="width: 100%; font-size: 15px;">
    <colgroup>
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 80%;">
       <col span="1" style="width: 15%;">
    </colgroup>
    <thead style="background-color: #99999915">
        <tr>
        <th style="text-align: center;">#</th>
        <th style="text-align: center;">제목</th>
        <th style="text-align: center;">글쓴이</th>
        </tr>
    </thead>


    <tbody>
        <tr>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;"><a href="{{ site.baseurl }}/contact-paranoid" style="display:block; color: black;">럽고리즘 쓰다가 연락 강박증 와서 이별.. 이거 개발자 고소 가능한가요?</a></td>
            <td style="text-align: center;">익명</td>
        </tr>
        <tr>
            <td style="text-align: center;">2</td>
            <td style="text-align: center;"><a href="{{ site.baseurl }}/longer-than-expected" style="display:block; color: black;">혹시 예측 연애 기간보다 더 길게 만나신 분들 있나요?</a></td>
            <td style="text-align: center;">익명</td>
        </tr>
        <tr>
            <td style="text-align: center;">3</td>
            <td style="text-align: center;">아니 오늘 내 남친 애정도 왜이러냐고;;;</td>
            <td style="text-align: center;">익명</td>
        </tr>
        <tr>
            <td style="text-align: center;">4</td>
            <td style="text-align: center;">럽고리즘 문제 개많음 (지금까지 논란 총정리)</td>
            <td style="text-align: center;">익명</td>
        </tr>
        <tr>
            <td style="text-align: center;">5</td>
            <td style="text-align: center;">우리 커플 애정도 자랑.jpg</td>
            <td style="text-align: center;">익명</td>
        </tr>
        <tr>
            <td style="text-align: center;">6</td>
            <td style="text-align: center;">연애 현타오는데…ㅠㅠ 저만 그런가요?</td>
            <td style="text-align: center;">익명</td>
        </tr>
    </tbody>
</table>